* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: blue;
}
.navigation a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}
.navigation a:hover {
  background-color: black;
}
