body {
  color: white;
  margin: 0;
}
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 15px;
}
li:hover {
  border-bottom: 2px solid red;
  transform: scale(1.5);
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 32px;
  color: red;
  padding: 30px;
}

@media screen and (max-width: 600px) {
  header,
  ul {
    flex-direction: column;
  }
}
